.package_card{
    background-color: blueviolet;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
  }
  
  /* remove this after we have the component for the counter */
  .package_card p{
    margin: 0px;
  }

  .img-wrapper {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: center;
  }

  .carrier-image {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
  }

  .card-body {
    padding: 8px !important;
    display: flex;
    flex-direction: row;

    gap: 16px;
  }