.background {
  background-image: url("/cardboard1.jpg");
  height: 100%;
}

button {
  font-size: calc(10px + 2vmin);
}

.package-card-list {
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  border-radius: 8px;
}

.btn-outline-danger {
  background-color: #6b4d32 !important;
  color: #ffd7b5 !important;
  border: solid 3px #dcb798 !important;
}

.btn-outline-danger:active, .btn-outline-danger:hover{
  background-color: #6b4d32 !important;
  color: #ffd7b5 !important;
  border: solid 3px #dcb798 !important;
}

#add-package-button {
  width: 40%;
  height: 50px;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 30%;

  border-radius: 0.6rem;
}